@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: radial-gradient(ellipse at 0 0, #fff8ce, #ffb61d);
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0;
    overflow-y: hidden;
}

#wrapper{
    width: 90%;
    max-width: 1340px;
    margin: auto;
}

header{
    padding: 3em 0;

}

main{
    display: flex;
    gap: 2em;
}

main > *{
    flex: 1 0 0;
}

h1{
    font-size: 3.5em;
}

h1 strong{
    text-transform: uppercase;
    color: rgb(218, 22, 22);
}

.upper{
    text-transform: uppercase;
}

p{
    font-weight: 300;
}

form{
    display: flex;
    gap: 1rem;
}

form input{
    border-radius: 6px;
    padding: 1em;
    font-family: inherit;
    border: 1px solid #28293e;
    outline: none;
}

form input[type="text"]{
    background-color: transparent;
    margin-right: 1em;
}

form input[type="text"]::placeholder{
    color: #28293e;
}

form input[type="submit"]{
    border: none;
    color: #fff;
    background-color: rgb(4, 23, 69);
}

section{
}

.animation{
    position: relative;

}

.animation img{
    position: absolute;
}

.animation img:nth-child(1){
    left: -10px;
    top: 100px;
    animation: topleft 2s infinite alternate;
}

.animation img:nth-child(2){
    right: 10px;
    top: 20px;
    animation: topleft 3s .5s infinite alternate;
}

.animation img:nth-child(3){
    right: 0;
    top: 0;
    animation: topleft 3.5s .5s infinite alternate;
}

.animation img:nth-child(4){
    left: 20px;
    bottom: -150px;
    animation: topleft 4s .5s infinite alternate;
}

.animation img:nth-child(5){
    left: 100px;
    top: -100px;
    animation: topleft 3s infinite alternate;
}

.animation img:nth-child(6){
    right: 50px;
    bottom: -170px;
    animation: topleft 4s infinite alternate;
}


@keyframes topleft{
    from{
        transform: translate(0, 0);
    }

    to{
        transform: translate(-10px, -30px);
    }
}

